.nav{
    background-color: #395241;
    margin-top: -8px;
    padding: 5px;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    align-items: center; 
}
.nav1{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 60%;
    font-size: 10px;
    color: #ECD8B0;
}
a{
    font-size: 1.2rem;
    color: #ECD8B0;

    
}