.navbar {
  position: sticky;
  top: 0; 
  background-color: #395241;
  padding: 10px;
  margin: -8px;
  display: flex;
  color: black;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

/* Adjustments for smaller screens */
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: left;
    padding: 5px;
  }
}
