.navbar {

    position: sticky;
    top: 0; 
    background-color: #395241;
    padding: 5px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
  }
  .link{
    margin-left: 55%;
    gap: 3px;
  }
  .a{
    color: #F3EEE2;
    text-decoration: none;
    font-size: 20px;
  }