.home-page {
  display: block;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center; 
  height: 100vh; 
}
h2 {
  color: black;
  font-size: 20px;
  margin-left: 15px;
}
h3{
  color: black;
  margin-left: 60px;
  margin-top: -5px;
  font-size: medium;
}
p {
  font-size: 18px;
  margin-left: 90px;
  margin-top: -8px;
  color: black;
}
.content{
  margin-left: 38%;
}
