table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 1px;
    margin-left: 10%;
  }
  .title{
    display: flex;
    align-items: center;
  }
  .navigate{
    margin-left: 60%;
  }
  h6{
    color: black;
    margin-left: 10%;
  }
  
  th {
    background-color: #395241;
    color: black;
    font-weight: 500;
    padding: 10px;
    text-align: left;
  }
  
  td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #cce6ff;
  }
 .icon1{
   width: 20px;
   height: 20px;

  }
  .tran{
    background-color: rgb(177, 175, 175);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 3px;
    border: 0;
    color: black;
  
  }
  .title{
    font-size: 10px;
  }
  .tran:hover{
    background-color: rgb(177, 175, 175);
}