.title {
  display: flex;
  align-items: center;
}

.table-container {
  height: 75vh; /* Set the height of the table container to 75% of the viewport height */
  overflow: auto; /* Enable vertical scrolling if content overflows */
}

table {
  width: 100%;
  table-layout: fixed; /* Ensures all columns have the same width */
  border-collapse: collapse; /* Collapses borders between table cells */
}

th {
  background-color: #395241;
  font-weight: 500;
  padding: 10px;
  text-align: left;
}

th,
td {
  color: black;
  padding: 8px;
  font-size: small;
  border: 1px solid #ddd;
  text-align: left;
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden; /* Hides overflow content */
  text-overflow: ellipsis; /* Displays ellipsis (...) when content overflows */
}

.icon1 {
  width: 20px;
  height: 20px;
}

.tran:hover {
  background-color: rgb(177, 175, 175);
}

/* Add hover effect */
td:hover {
  overflow: visible;
  white-space: normal;
  word-wrap: break-word;
  z-index: 2;
}

/* Make the table stack vertically on small screens */
@media only screen and (max-width: 768px) {
  th,
  td {
    display: block;
    width: auto;
    text-align: left;
  }

  th {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  td {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
  }

  .title {
    justify-content: space-between; /* Align items in the title div */
    padding: 10px; /* Add padding to the title div */
  }

  .pagination {
    display: flex;
    justify-content: space-between; /* Align items in the pagination div */
    padding: 10px; /* Add padding to the pagination div */
  }
}
