form {
    max-width: 300px;
    margin: 0 auto;
  }
  .h2{
    font-size: 14px;
  }
  
  label {
    display: flex;
    margin-bottom: 5px;
    font-size: 8px;
  }
  
  input {
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .authentic {
    background-color: #6B8065;
    color: white;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  .authentic:hover {
    background-color: #40cb19;
  }

