.form_container {
  background-color: #F2EEE3;
  padding: 20px;
  border-radius: 10px;
  color: black;
  margin: 5% auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.fixed-width {
  width: 200px;
}
.sum_h{
  margin-left: -5%;
  font-size: medium;
}
.sum_h2{
  margin-left: 36%;
  font-size: medium;
}
.data{
  margin-left: -9%;
  font-size: small;
  

}
.data1{
  margin-left: 1px;
  font-size: small;
}
.data2{
  margin-left: 1%;
  font-size: small;
}
.data3{
  margin-left: -1%;
  font-size: small;
}
.rec_d{
  margin-left: -60%;
  gap: 5px;
}
.rec_d2{
  margin-top: -8%;
  margin-left: -60%;
  gap: 5px;
}