.form_container {
  background-color: #f2eee3;
  padding: 20px;
  border-radius: 10px;
  color: black;
  margin: 5% auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  overflow: hidden; /* Add this line to hide overflowing content */
}

