.auth-background {
    height: 75.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .auth-container {
    background-color: #F2EEE3;
    color: #000000;
    padding: 25px;
    border-radius: 5px;
    padding-right: 40px;
    justify-content: center;
    text-align: center;
    margin-left: 32px;
    margin-top: 0%;
  }
  
  .switch-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 0px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 27.2px;
    padding-bottom: -100px;
    margin-left: 10px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 30px;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 1px;
    bottom: 0.5px;
    background-color: #e6dddd;
    border-radius: 50%;
    transition: 0.0s;
  }
  
  .slider.round {
    border-radius: 20px;
  }
  
  .switch input:checked + .slider {
    background-color: #6B8065;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(33px);
  }
  
  
  