.foot {
    left: 0;
    bottom: 0;
    width: 101%;
    background-color: #395241;
    color: white;
    align-items: center;
    margin-left: -8.3px;
    margin-bottom: -8px;
    padding: 8px;
    position: fixed;
  }
.foot__content{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.p1{
    margin-left: 80%;
    color: white;
}
.linnk{
  color: white;
  text-decoration: none;
  margin-left: 30px;
  gap: 577px;
}
 